In [126]:
import pandas as pd
import csv

In [127]:
df = pd.read_csv ('data.csv')

In [128]:
print (df)

## Next step, remove un

                               Specialty Total Salary  Hours / Week $ / Hour  \
0                   Neurological Surgery     $753,574          58.2     $249
1                            Dermatology     $476,882          45.4     $202
2                    Orthopaedic Surgery     $592,800          57.0     $200
3                     Radiation Oncology     $536,026          51.8     $199
4                       Gastroenterology     $541,632          56.0     $186
5                   Radiology-Diagnostic     $527,800          58.0     $175
6                        Plastic Surgery     $451,568          52.0     $167
7                  Hematology & Oncology     $446,685          52.7     $163
8                       Thoracic Surgery     $529,027          62.8     $162
9                         Otolaryngology     $425,225          53.1     $154
10                Cardiovascular Disease     $451,490          57.5     $151
11                               Urology     $447,138          58.1     $148
12                         Ophthalmology     $392,496          51.0     $148
13                        Anesthesiology     $453,596          61.0     $143
14                    Emergency Medicine     $340,205          46.4     $141
15                      Vascular Surgery     $495,425          71.1     $134
16                       Surgery-General     $407,722          59.4     $132
17                  Allergy & Immunology     $335,832          49.3     $131
18      Pediatric Emergency Medicine\t\t     $286,614          43.4     $127
19                            Nephrology     $343,616          56.0     $118
20                     Pulmonary Disease     $376,750          61.4     $118
21    Physical Medicine & Rehabilitation     $269,131          45.4     $114
22           Neonatal-Perinatal Medicine     $367,796          64.3     $110
23               Obstetrics & Gynecology     $328,744          58.0     $109
24                             Neurology     $285,293          50.8     $108
25                Critical Care Medicine     $375,710          66.9     $108
26         Child & Adolescent Psychiatry     $247,520          47.6     $100
27                            Psychiatry     $241,800          46.5     $100
28                            Pediatrics     $234,624          47.0      $96
29  Endocrinology, Diabetes & Metabolism     $234,546          48.5      $93
30                    Infectious Disease     $258,242          53.4      $93
31                          Rheumatology     $250,848          53.6      $90
32                     Internal Medicine     $242,658          54.9      $85
33                       Family Medicine     $224,286          52.6      $82
34                    Geriatric Medicine     $224,297          55.3      $78

    Years of\ntraining  Age Start Working:  Debt at residency\ngraduation ($)  \
0                    7                  34                               -304
1                    4                  31                               -254
2                    5                  32                               -270
3                    5                  32                               -270
4                    6                  33                               -286
5                    5                  32                               -270
6                    7                  34                               -304
7                    6                  33                               -286
8                    7                  34                               -304
9                    5                  32                               -270
10                   6                  33                               -286
11                   5                  32                               -270
12                   4                  31                               -254
13                   4                  31                               -254
14                   3                  30                               -239
15                   7                  34                               -304
16                   5                  32                               -270
17                   5                  32                               -270
18                   5                  32                               -270
19                   5                  32                               -270
20                   5                  32                               -270
21                   4                  31                               -254
22                   6                  33                               -286
23                   4                  31                               -254
24                   4                  31                               -254
25                   5                  32                               -270
26                   6                  33                               -286
27                   4                  31                               -254
28                   3                  30                               -239
29                   5                  32                               -270
30                   5                  32                               -270
31                   5                  32                               -270
32                   3                  30                               -239
33                   3                  30                               -239
34                   4                  31                               -254

    NW PGY-10 (Thousands)  Retirment NW (Age 65; Thousands)  Match Rate  \
0                      90                              8948        75.2
1                      79                              6897        84.7
2                     157                              7912        79.7
3                     106                              6802        99.2
4                      85                              6643         NaN
5                     153                              7179        95.5
6                     -91                              4688        72.1
7                       7                              4839         NaN
8                     -44                              5697         NaN
9                      52                              5078        74.9
10                     11                              4944         NaN
11                     74                              5530         NaN
12                     80                              5002         NaN
13                    149                              6328        89.6
14                    115                              4792        91.6
15                    -65                              5083        78.2
16                     71                              5065        83.2
17                     -5                              3820         NaN
18                    -56                              2988         NaN
19                      4                              3707         NaN
20                     38                              4401         NaN
21                     -8                              3018        89.9
22                    -60                              3641         NaN
23                     40                              3903        86.0
24                     15                              3195        97.2
25                     38                              4394         NaN
26                   -157                              1928         NaN
27                    -43                              2552        89.6
28                     11                              2611        98.2
29                   -112                              1993         NaN
30                    -87                              2341         NaN
31                    -94                              2371         NaN
32                     25                              2841        97.1
33                     -5                              2544        96.3
34                    -66                              2118         NaN

    Step 1 Score  Step 2CK Score  Publications  AOA percentage  \
0          248.0           252.0          23.4            39.0
1          248.0           256.0          19.0            47.4
2          248.0           255.0          14.3            40.3
3          243.0           250.0          18.3            22.3
4            NaN             NaN           NaN             NaN
5          241.0           249.0           6.4            18.3
6          249.0           256.0          19.1            43.0
7            NaN             NaN           NaN             NaN
8            NaN             NaN           NaN             NaN
9          248.0           256.0          13.7            38.1
10           NaN             NaN           NaN             NaN
11           NaN             NaN           NaN             NaN
12           NaN             NaN           NaN             NaN
13         234.0           246.0           5.2             9.4
14         233.0           247.0           4.3            11.8
15         239.0           247.0          10.5            13.1
16         237.0           249.0           7.1            18.5
17           NaN             NaN           NaN             NaN
18           NaN             NaN           NaN             NaN
19           NaN             NaN           NaN             NaN
20           NaN             NaN           NaN             NaN
21         228.0           241.0           5.5             5.0
22           NaN             NaN           NaN             NaN
23         232.0           248.0           6.0            16.6
24         232.0           245.0           7.2            14.3
25           NaN             NaN           NaN             NaN
26           NaN             NaN           NaN             NaN
27         227.0           241.0           5.6             6.8
28         228.0           245.0           4.9            12.3
29           NaN             NaN           NaN             NaN
30           NaN             NaN           NaN             NaN
31           NaN             NaN           NaN             NaN
32         235.0           248.0           6.2            17.4
33         221.0           238.0           3.3             6.4
34           NaN             NaN           NaN             NaN

    Top 40 NIH School  Burnout %  Kate Interest:
0                39.0        NaN             NaN
1                41.3       33.0             NaN
2                33.6        NaN             NaN
3                46.4       36.0             NaN
4                 NaN       48.0             NaN
5                26.0       49.0             NaN
6                34.2       40.0             NaN
7                 NaN       36.0             NaN
8                 NaN        NaN             NaN
9                40.8       37.0             NaN
10                NaN       42.0             NaN
11                NaN       48.0             NaN
12                NaN       37.0             NaN
13               30.6       47.0             NaN
14               27.7       60.0             NaN
15               39.3        NaN             NaN
16               29.9       44.0             NaN
17                NaN       42.0             NaN
18                NaN        NaN             NaN
19                NaN       40.0             NaN
20                NaN       48.0             NaN
21               21.7       50.0             NaN
22                NaN        NaN             NaN
23               29.7       53.0             NaN
24               35.2       46.0             NaN
25                NaN       56.0             NaN
26                NaN        NaN             NaN
27               29.6       38.0             NaN
28               26.9       49.0             NaN
29                NaN       50.0             NaN
30                NaN       51.0             NaN
31                NaN       46.0             NaN
32               33.6       48.0             NaN
33               26.7       51.0             NaN
34                NaN        NaN             NaN

In [129]:
def normalize(column):
    minimum = min(column)
    maximum = max(column)
    range = maximum - minimum
    
    for i in range(len(column)):
        column[i] = (column[i] - minimum) / range
        
    return column

In [130]:
print(df.iloc[:,1].to_numpy())

['$753,574' '$476,882' '$592,800' '$536,026' '$541,632' '$527,800'
 '$451,568' '$446,685' '$529,027' '$425,225' '$451,490' '$447,138'
 '$392,496' '$453,596' '$340,205' '$495,425' '$407,722' '$335,832'
 '$286,614' '$343,616' '$376,750' '$269,131' '$367,796' '$328,744'
 '$285,293' '$375,710' '$247,520' '$241,800' '$234,624' '$234,546'
 '$258,242' '$250,848' '$242,658' '$224,286' '$224,297']

In [131]:
def formatFix(string):
    # removes $
    string = string[1:len(string)]
    
    # Removes comma
    string = string.replace(',','')
    
    # casts string to float
    string = float(string)
    return string

print(currencyFix(df.iloc[:,1].to_numpy()[0]))

753574.0

In [132]:
# Fix formating in currency column
salaryCol = df.iloc[:,1].to_numpy()

temp = []

for values in salaryCol:
    temp.append(formatFix(values))

df['Total Salary'] = temp

In [133]:
# Fix formating in wage column
wageCol = df.iloc[:,3].to_numpy()

temp = []

for values in wageCol:
    temp.append(formatFix(values))

df['$ / Hour'] = temp

In [134]:
df['Burnout %'].fillna((df['Burnout %'].mean()), inplace=True)